.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.cart li{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background-color: #2b3b52;
    color: white;
    margin: 20px 0;
    padding: 20px 0;
}

.product-img-cart{
    width: 80px;
    border-radius: 10px;
}

.delete-product-btn{
    background-color: #fa2929;
    cursor: pointer;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    color: white;
} .delete-product-btn:hover{
    background-color: #f3a482;
}

.cart-total-price{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    color: white;
    margin-top: 20px;
}

.cart-total-price p{
    font-size: 20px;
    background-color: #2b3b52;
    padding: 8px;
}

.delete-cart-btn{
    background-color: #fa2929;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170px;
} .delete-cart-btn:hover{
    background-color: #f3a482;
}

.continue-buy{
    text-decoration: none;
    color: white;
    background-color: rgb(59, 95, 6);
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 230px;
    justify-content: space-between;
} .continue-buy:hover{
    background-color: rgb(167, 177, 152);
}

